{% extends 'base.html' %}
{% load static %}
    {% block title %}Django's Blog{% endblock %}
        {% block header %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({% static 'assets/img/post-bg.jpg' %})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{object.title}}</h1>
                            <h2 class="subheading">
                            {{object.content|truncatechars:30}}
                            </h2>
                            <span class="meta">
                                <a href={% url 'blogapp:index' %}>Django's Blog</a>
                                {{object.posted_at}}に投稿/カテゴリ：
                                {{object.category}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}
        <!-- Post Content-->
        {% block contents %}
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{object.content}}
                    </div>
                </div>
            </div>
        </article>
        <hr>
        {% endblock %}
        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
